### 데이터  
- 사이트: https://www.crimestats.or.kr/portal/stat/easyStatPage.do
- 통계표 이름: 소년범죄자 재범기간 및 종류
- 일괄설정  
  항목 -> 전체  
  분류 -> 전체  
  검색기간-> 2014년~2019년

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
fm = mp.font_manager.FontManager()         # 한글화
plt.rcParams['font.family'] = 'Malgun Gothic'
mp.rcParams['axes.unicode_minus'] = False # '-' 에러 방지

In [3]:
# 데이터 불러오기
df = pd.read_csv('10_소년범 연도별 재범률 추이.csv') 
df.head()

,범죄별,재범기간및종류별,항목,단위,2006 년,2007 년,2008 년,2009 년,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
0,합계,합계,소년범죄자 재범기간 및 종류,명,19981,25525,35397,36532,31191,30261,44319,41032,32265,30248,30368,28583.0,26905,26459
1,합계,동종재범,소년범죄자 재범기간 및 종류,명,10029,12535,16373,17610,15640,14917,20234,18911,15014,13237,13103,12098.0,13091,13013
2,합계,1개월 이내,소년범죄자 재범기간 및 종류,명,1005,1477,2144,2851,2210,2772,3962,3065,2181,1992,2221,2087.0,2227,2165
3,합계,3개월 이내,소년범죄자 재범기간 및 종류,명,1327,1829,2416,3006,3544,3352,4525,3526,2615,2362,2575,2350.0,2499,2481
4,합계,6개월 이내,소년범죄자 재범기간 및 종류,명,1201,1559,2125,2419,2316,2083,2864,2749,2281,1969,1886,1890.0,2101,2017

In [4]:
df.tail()

,범죄별,재범기간및종류별,항목,단위,2006 년,2007 년,2008 년,2009 년,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
2681,기타특별법,6개월 이내,소년범죄자 재범기간 및 종류,명,2,11,39,35,24,19,17,17,9,26,23,30.0,13,20
2682,기타특별법,1년 이내,소년범죄자 재범기간 및 종류,명,7,36,118,92,73,85,62,85,45,61,47,56.0,29,51
2683,기타특별법,2년 이내,소년범죄자 재범기간 및 종류,명,2,20,65,46,39,40,29,37,31,24,23,15.0,20,18
2684,기타특별법,3년 이내,소년범죄자 재범기간 및 종류,명,2,24,64,40,32,17,19,48,12,18,13,10.0,9,9
2685,기타특별법,3년 초과,소년범죄자 재범기간 및 종류,명,5,18,76,18,20,15,38,38,2,8,6,5.0,2,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   범죄별       2686 non-null   object
 1   재범기간및종류별  2686 non-null   object
 2   항목        2686 non-null   object
 3   단위        2686 non-null   object
 4   2006 년    2125 non-null   object
 5   2007 년    2125 non-null   object
 6   2008 년    2125 non-null   object
 7   2009 년    2142 non-null   object
 8   2010 년    2142 non-null   object
 9   2011 년    2142 non-null   object
 10  2012 년    2142 non-null   object
 11  2013 년    2142 non-null   object
 12  2014 년    2040 non-null   object
 13  2015 년    2040 non-null   object
 14  2016 년    2040 non-null   object
 15  2017 년    933 non-null    float64
 16  2018 년    2040 non-null   object
 17  2019 년    2040 non-null   object
dtypes: float64(1), object(17)
memory usage: 377.8+ KB

In [6]:
# -를 NaN으로 바꾸기
df.iloc[:,4:] = df.iloc[:,4:].replace('-', np.nan)

In [7]:
# 데이터타입 float으로 변경
df.iloc[:,4:] = df.iloc[:,4:].astype(float)

In [8]:
# 필요없는 컬럼 제거
df = df.drop(['항목', '단위'], axis=1).copy()
df.head()

,범죄별,재범기간및종류별,2006 년,2007 년,2008 년,2009 년,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
0,합계,합계,19981.0,25525.0,35397.0,36532.0,31191.0,30261.0,44319.0,41032.0,32265.0,30248.0,30368.0,28583.0,26905.0,26459.0
1,합계,동종재범,10029.0,12535.0,16373.0,17610.0,15640.0,14917.0,20234.0,18911.0,15014.0,13237.0,13103.0,12098.0,13091.0,13013.0
2,합계,1개월 이내,1005.0,1477.0,2144.0,2851.0,2210.0,2772.0,3962.0,3065.0,2181.0,1992.0,2221.0,2087.0,2227.0,2165.0
3,합계,3개월 이내,1327.0,1829.0,2416.0,3006.0,3544.0,3352.0,4525.0,3526.0,2615.0,2362.0,2575.0,2350.0,2499.0,2481.0
4,합계,6개월 이내,1201.0,1559.0,2125.0,2419.0,2316.0,2083.0,2864.0,2749.0,2281.0,1969.0,1886.0,1890.0,2101.0,2017.0

In [9]:
df_melt = pd.melt(df, id_vars=['범죄별','재범기간및종류별'], var_name='연도', value_name='재범자')
df_melt.head(10)

  범죄별 재범기간및종류별      연도      재범자
0  합계       합계  2006 년  19981.0
1  합계     동종재범  2006 년  10029.0
2  합계   1개월 이내  2006 년   1005.0
3  합계   3개월 이내  2006 년   1327.0
4  합계   6개월 이내  2006 년   1201.0
5  합계    1년 이내  2006 년   3948.0
6  합계    2년 이내  2006 년   1432.0
7  합계    3년 이내  2006 년    773.0
8  합계    3년 초과  2006 년    343.0
9  합계     이종재범  2006 년   9952.0

In [10]:
# 인덱스 재설정
df_melt = df_melt.set_index(['연도','범죄별']).copy()

In [14]:
df_melt.head()

           재범기간및종류별      재범자
연도     범죄별
2006 년 합계        합계  19981.0
       합계      동종재범  10029.0
       합계    1개월 이내   1005.0
       합계    3개월 이내   1327.0
       합계    6개월 이내   1201.0

In [15]:
# 피벗테이블
pdf = pd.pivot_table(df_melt,                # 피벗할 데이터프레임
                     index = ['연도', '범죄별'],    # 행 위치에 들어갈 열
                     columns = '재범기간및종류별',    # 열 위치에 들어갈 열
                     values = '재범자')     # 데이터로 사용할 열

pdf

재범기간및종류별                     1개월 이내  1년 이내  2년 이내  3개월 이내  3년 이내  3년 초과  \
연도     범죄별
2006 년 강간                      13.0   56.5   23.0    13.0    8.0   12.5
       강도                      29.0   69.0   27.0    20.0   24.0   11.0
       강력범죄(폭력)               158.5  872.5  424.0   255.5  272.0  215.0
       강력범죄(흉악)                42.5  130.5   51.5    34.0   32.5   25.0
       공갈                      10.0   37.0    5.5    10.0    1.5    2.0
...                             ...    ...    ...     ...    ...    ...
2019 년 아동복지법                    NaN    5.0    2.0     1.5    1.5    1.0
       전자금융거래법                  3.0   18.0    6.5    10.5    8.0    1.0
       폭력행위등(손괴,강요,주거침입등)      16.5   27.0    7.5    26.5    4.5    1.0
       대부업등의등록및금융이용자보호에관한법률     1.0    5.0    NaN     1.5    1.0    1.0
       여객자동차운수사업법               NaN    NaN    NaN     1.0    NaN    NaN

재범기간및종류별                     6개월 이내    동종재범    이종재범      합계
연도     범죄별
2006 년 강간                      14.0    32.0   248.0   280.0
       강도                      20.5   126.0   275.0   401.0
       강력범죄(폭력)               243.0  2034.0  2847.0  4881.0
       강력범죄(흉악)                36.0   163.0   541.0   704.0
       공갈                      12.5    60.0    97.0   157.0
...                             ...     ...     ...     ...
2019 년 아동복지법                    1.0     7.0    10.0    17.0
       전자금융거래법                  3.0    38.0    61.0    99.0
       폭력행위등(손괴,강요,주거침입등)      16.0   107.0    91.0   198.0
       대부업등의등록및금융이용자보호에관한법률     1.0     3.0    10.0    13.0
       여객자동차운수사업법               1.0     NaN     2.0     2.0

[1033 rows x 10 columns]

In [ ]:
# 컬럼 그룹화...

In [ ]:
# 컬럼 순서 정렬
pdf = pdf.loc[['1개월이내']]

In [11]:
# '합계'가 있는 데이터만 추출
#df_sum = df[df['재범기간및종류별'] == '합계'].copy()
#df_sum

In [12]:
#df_T = df.T
#df_T.head(20)