In [31]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns
import re

mp.rcParams['axes.unicode_minus'] = False

In [32]:
fm = mp.font_manager.FontManager()
plt.rcParams["font.family"] = 'Malgun Gothic'

In [33]:
pd.set_option('display.max_columns',40)

In [34]:
df_under = pd.read_csv('./data/12_범죄자 연령(14세 미만 포함)_홍상석1.csv', thousands = ',')
df_under.head()

,No,자료시점,분류,분류.1,분류.2,계,계.1,계.2,계.3,계.4,계.5,계.6,계.7,계.8,계.9,계.10,계.11,계.12,계.13,계.14,계.15,계.16,계.17,계.18,계.19,계.20,계.21,계.22,계.23,계.24,계.25
0,No,자료시점,분류,분류,분류,계,소년(소계),소년(소계),소년(소계),소년(소계),소년(소계),소년(소계),소년(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),성인(소계),미상
1,No,자료시점,분류,분류,분류,계,소년(소계),14세미만,14세,15세,16세,17세,18세,성인(소계),19세,20세,21세,22세,23세,24세,25세,26~30세,31~35세,36~40세,41~45세,46~50세,51~55세,56~60세,61~70세,71세이상,미상
2,No,자료시점,분류,분류,분류,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료
3,1,2014년,계,계[입력치],계[입력치],"1,879,548","77,594",37,"9,712","14,041","16,940","17,517","19,347","1,773,556","20,742","15,900","18,544","22,915","23,685","24,727","25,415","154,669","190,948","190,494","247,919","253,608","253,651","164,939","127,282","38,118","28,398"
4,2,2014년,형법범,형법범계[입력치],형법범계[입력치],"949,859","63,145",27,"8,888","12,268","13,552","13,621","14,789","870,746","15,201","10,972","11,959","13,789","13,315","12,674","12,079","67,037","87,490","89,984","120,142","124,880","126,790","82,569","61,977","19,888","15,968"

In [35]:
df_under = df_under.rename(columns={'분류':'대분류', '분류.1':'중분류','분류.2':'소분류','계':'총합계','계.1':'소년(소계)',
                                    '계.2':'14세미만','계.8':'성인(소계)','계.25':'미상'})

In [36]:
df_under = df_under.drop(['No','계.3','계.4','계.5','계.6','계.7','계.9','계.10','계.11','계.12','계.13','계.14','계.15',
                          '계.16','계.17','계.18','계.19','계.20','계.21','계.22','계.23','계.24'], axis='columns')

In [37]:
df_under = df_under.drop(index = [0,1,2])

In [38]:
df_under.head()

,자료시점,대분류,중분류,소분류,총합계,소년(소계),14세미만,성인(소계),미상
3,2014년,계,계[입력치],계[입력치],"1,879,548","77,594",37,"1,773,556","28,398"
4,2014년,형법범,형법범계[입력치],형법범계[입력치],"949,859","63,145",27,"870,746","15,968"
5,2014년,형법범,재산범죄,재산범죄의 계[입력치],"411,083","36,271",6,"367,782","7,030"
6,2014년,형법범,재산범죄,배임,"11,740",3,0,"10,980",757
7,2014년,형법범,재산범죄,사기,"232,827","7,251",3,"221,150","4,426"

# 자료시점 '년'을 삭제해야함

In [39]:
thousands = ['자료시점', '총합계', '소년(소계)', '14세미만', '성인(소계)', '미상']
 
for thousand in thousands:
    df_under[thousand]=df_under[thousand].str.replace(',','')

In [40]:
df_under['자료시점'] = df_under['자료시점'].astype(float)
df_under['총합계'] = df_under['총합계'].astype(float)
df_under['소년(소계)'] = df_under['소년(소계)'].astype(float)
df_under['14세미만'] = df_under['14세미만'].astype(float)
df_under['성인(소계)'] = df_under['성인(소계)'].astype(float)
df_under['미상'] = df_under['미상'].astype(float)

ValueError: could not convert string to float: '2014년'

In [41]:
pd.set_option('display.max_rows',1000)

In [42]:
df_und2 = df_under[df_under["대분류"].str.contains("계", case=False, na=True)].copy()
df_und2

      자료시점 대분류     중분류     소분류      총합계 소년(소계) 14세미만   성인(소계)     미상
3    2014년   계  계[입력치]  계[입력치]  1879548  77594    37  1773556  28398
177  2015년   계  계[입력치]  계[입력치]  1948966  71035    64  1817924  60007
351  2016년   계  계[입력치]  계[입력치]  2020196  76000    84  1897655  46541
525  2017년   계  계[입력치]  계[입력치]  1861796  72759    93  1745478  43559
699  2018년   계  계[입력치]  계[입력치]  1749459  66142   NaN  1637944  45373
873  2019년   계  계[입력치]  계[입력치]  1754808  66247   NaN  1657252  31309